
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */
.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

/* nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title {
    color: #4E47FF;
    font-size: 35px;
}
