
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.background {
    background-image: url(../Assets/Hero-bg.png) ;
    width: 1440;
    height: 700;
}
/* nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title {
    color: #4E47FF;
    font-size: 35px;
}

/* banner style  */
.banner{
    text-align: center;
    margin: 127px 267px;

   
}
.banner-title {
    font-weight: bold;
    font-size: 40px;
    color: #252432;
    max-width: 580px;
}

.button .btn-primary {
    text-align: center;
    margin-top: 37px;
    margin-bottom: 127px;
}
