
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
background-color: #D6DDED;
}
 *{
    margin: 0px;
    padding: 0px;
 }
 
/* shared style  */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    background-color: deepskyblue;
}
.background {
    background-image: url(../Assets/Hero-bg.png) ;
    width: 1440;
    height: 700;
}
/* nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    padding: 25px;
}

.nav-title {
    color: #4E47FF;
    font-size: 35px;
}

/* banner style  */

.banner{
    text-align: center;
    margin: 127px 267px;

   
}
.banner-title {
    font-weight: bold;
    font-size: 40px;
    color: #252432;
    max-width: 580px;
}

.button .btn-primary {
    text-align: center;
    margin-top: 37px;
    margin-bottom: 127px;
}

/* pannel tw0  */

.panneltwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    margin: 50px 150px;
}

.panneltwo-title{
    font-size: 35px;
    font-weight: bold;
    color: #252432;
}
.panneltwo-content{
    font-size: 12px;
    color:#252432 ;
}
.panneltwo img {
    width: 400px;
    height: 330;
    border-radius: 30px;
}

/* pannel three  */
.pannel-three {
    margin: 50px 150px;
    padding: 30px 140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
}

.pannelthree-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.users {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

.userbox h1 {
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
}

.userbox p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);

}

/* pannel four  */

.section-four {
    margin: 50px 150px;
}

.pannel-four {
    display: flex;
    justify-content: center;
    gap: 20px;  
}

.pfour-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.review {
    display: flex;
}

.card1 {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.128) ;
}
.card-title {
    font-size: 16px;
}
.card-p {
    font-size: 12px;
    padding: 4px;
}

.review img {
    border-radius: 50px;
    margin: 5px;
}
.review-info {
    font-size: 12px;
    padding: 15px;
}

/* contact pannel  */

.contact-pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.contact-container {
    display: flex;
    gap: 80px;
    justify-content: space-between;

    
    
} 

.contact-title h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 60px;
    margin-right: 80px;

}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin: 8px 0 8px;
}

.contact-form input , .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border-radius: 6px;
}

/* footer  */
 .footer {
    background-color: #FFFFFF;
    padding: 40px 20px;
    text-align: center;
 }

 .footer .logo {
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
 }

 .footer-text {
    max-width: 600px;
    margin: 20px auto;
    font-size: 16px;
    color: #8987A1;
 }

 .footer-list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
 }

 .footer-list a {
    text-decoration: none;
    color: #8987A1;
 }